.topContainer {
  padding: 3rem 0;
}

@media screen and (max-width: 768px) {
  .topContainer {
    padding: 2rem 1rem;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    padding: 0 3rem;
  }
}

.doenLogo {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .heading,
  .buttonGroup {
    font-size: 10px;
  }

  .buttonGroup {
    flex-direction: column;
  }

  .buttonGroup button {
    margin-bottom: 0.5rem;
  }

  .communityBtn {
    display: none;
  }

  .itemText,
  .gridTitle {
    font-size: 1rem;
  }
}

.header {
  font-family: "Lobster", cursive;
}

.subHeading {
  text-align: center;
  font-size: 1.75rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.nav {
  padding-bottom: 3rem;
}

.innerNav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.buttonGroup {
  display: flex;
}

.communityBtn,
.communityBtn1 {
  margin-right: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.image {
  height: 150px;
  width: auto;
  cursor: pointer;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemText {
  font-size: 1.2rem;
  padding-bottom: 0.6rem;
  margin-right: 0.3rem;
}

.gridTitle {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.colorTag {
  font-size: 0.75rem;
}
