.topContainer {
  padding: 3rem 0;
}

@media screen and (max-width: 768px) {
  .topContainer {
    padding: 2rem 1rem;
  }
}

.container {
  max-width: 900px;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    padding: 0 3rem;
  }
}

.doenLogo {
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .heading,
  .buttonGroup {
    font-size: 10px;
  }

  .buttonGroup {
    flex-direction: column;
  }

  .buttonGroup button {
    margin-bottom: 0.5rem;
  }
}

.subHeading {
  text-align: center;
}

.nav {
  padding-bottom: 2rem;
}

.innerNav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.buttonGroup {
  display: flex;
}

.communityBtn {
  margin-right: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.image {
  margin-right: 1rem;
  height: 150px;
  width: auto;
  cursor: pointer;
}

.text {
  margin-left: 1rem;
}
